<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AuthToken" value=""/>
    <add key="baseUrl" value="https://pub-cix.ntsw.ir/"/>
    <add key="path" value=""/>
    <add key="authTokenFilePath" value="D:\Projects\Anbar e Sazemanha\WebClient Anbar e Sazemanha\WebClient Anbar e Sazemanha/authtoken.txt"/>
    <add key="basicAuthUser" value="mr_yaboo1@yahoo.com"/>
    <add key="basicAuthPassword" value="www"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>